<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UAI</title>
    <link href="~/Content/site.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div id="container">
        <header>
           
            <nav>
                <ul>
                    <li><a href="/">Principal</a> </li>
                    <li><a href="/Home/Contact">Contacto</a> </li>
                    <li><a href="/Home/Info">Info js</a> </li>
                    <li>@Html.ActionLink("Admin Producto", "Producto","Home")</li>
                    
                </ul>
            </nav>
        </header>
        <section>
            <article>
                @RenderBody()
            </article>
        </section>

        <aside id="pub">
            <article>
                <div>
                    <h3>Titulo</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                </div>
            </article>
        </aside>
        <footer>
            <p>&copy; @DateTime.Now.Year - Norte Contreras Victor | Parcial 1</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>